.cart-wrapper {
    margin: 0;
    padding-left: 15px;
    width: 35%;
    display: block;
    flex-wrap: wrap;
    background-color: #cad1f0;
    font-size: 60px;
}

.cart-card {
    padding: 15px;
    width: 90%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.cart-card img {
    border-radius: 50px;
    border: 1px solid black;
    
}

.main-info  {
    font-size: 30px;
}

button{
    margin: 5px;
    padding: 10px;
    height: 45px;
    width: auto;
    font-size: 25px;
}

 